
:root{
  /* colors */
  --header-color: #268785;
  --background-color: #A5DEE4;
  --button-color: #0089A7;
  --text-color: #FFFFFB;

  /* font-size */
  --header: clamp(4.5rem, 1.83rem, 11.34vw, 10rem);
  --text: clamp(2rem,1.3rem, + 3vw, 4rem);
}
/* reset */
body, h1, p, figure, ul{
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-color);
  
}

/* styles */
main {
  padding-top: 3em;
  width: 94%;
  margin: auto;
}
body {
    background-color: var(--background-color);
}

button {
  border: none;
  background: transparent;
  box-shadow: none;
  color: var(--text-color);
  width: 94%;
  height: 3em;
  background-color: var(--button-color);
  border-radius: 1em; 
}
button:hover{
  background-color: #005CAF;
}
li {
  padding: 0.8em 0em;
}